<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bitrix24 app tutorial</title>
    <!-- подключаем библиотеку BX24 -->
    {{ encore_entry_link_tags('bitrix') }}
    <script src="https://api.bitrix24.com/api/v1/"></script>
</head>
<body style="background: #1e232b;">
<div class="info text-light" id="userinfo">

</div>
<script>
    /**
     * передаем методу  `init` в качестве параметра callback-функцию
     * - наше приложение
     */
    BX24.init(app);

    function app() {
        const initDate = BX24.getAuth();
        //console.log("ititDate: ", initDate);
    }


    BX24.placement.call('getStatus', {}, callInfo);

    function callInfo(info) {

        // setTimeout(closeApplication, 5000);
        jQuery.getJSON('https://testmon.istranet.ru/api/bitrix-user-get', "phone=" + info.PHONE_NUMBER, function(result){
            var userdata = '<div class="row justify-content-center border-light">';
            for(var k in result['data']) {
                userdata += '<div class="col-lg-4 badge-light text-dark">' + result['data'][k] + "</div>";
                jQuery("#userinfo").html(userdata);
            }
            userdata += "</div>";
            console.log(result);
        });
    }

    function closeApplication() {
        console.log('test');
        BX24.closeApplication();
    }

   // BX24.placement.bindEvent("CallCard::CallStateChanged", function (callState) {
   //     console.log(callState);
   // });
</script>
{{ encore_entry_script_tags('bitrix') }}
</body>
</html>