parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''

doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   pdo_mysql
                url: '%env(resolve:ISUP_DATABASE_URL)%'
                charset:  UTF8
            sberbank:
                driver:   pdo_mysql
                url: '%env(resolve:SBERBANK_DATABASE_URL)%'
                charset:  UTF8
            utm5:
                driver:   pdo_mysql
                url: '%env(resolve:UTM5_DATABASE_URL)%'
                charset:  UTF8
            newlk:
                driver:   pdo_mysql
                url: '%env(resolve:NEWLK_DATABASE_URL)%'
                charset:  UTF8
        # configure these for your database server
        #driver: 'pdo_mysql'
        #server_version: '5.7'
        #charset: utf8mb4
        #default_table_options:
        #   charset: utf8mb4
        #    collate: utf8mb4_unicode_ci

        #url: '%env(resolve:DATABASE_URL)%'
    orm:
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                mappings:
                    App:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/src/Entity'
                        prefix: 'App\Entity'
                        alias: App
            sberbank:
                connection: sberbank
                mappings:
                    SberbankEntity:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/src/SberbankEntity'
                        prefix: 'App\SberbankEntity'
                        alias: AppSberbank
        #auto_generate_proxy_classes: true
        #naming_strategy: doctrine.orm.naming_strategy.underscore
        #auto_mapping: true
        #mappings:
        #    App:
        #        is_bundle: false
        #        type: annotation
        #        dir: '%kernel.project_dir%/src/Entity'
        #        prefix: 'App\Entity'
        #        alias: App