version: '3'
services:
    isup-nginx:
        build:
            context: ./docker/development
            dockerfile: nginx.docker
        volumes:
            - ./:/app
        depends_on:
            - isup-php-fpm
        ports:
            - "8088:80"
    isup-php-fpm:
        build:
            context: ./docker/development
            dockerfile: php-fpm.docker
        environment:
            APP_DEBUG: 1
        volumes:
            - ./:/app
        depends_on:
          - isup-redis
    isup-php-cli:
        build:
            context: ./docker/development
            dockerfile: php-cli.docker
        environment:
            APP_DEBUG: 1
        volumes:
            - ./:/app
            - composer:/root/.composer/cache
        depends_on:
            - isup-redis
    isup-redis:
        image: redis:5.0-alpine
    isup-phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - "8090:80"
        environment:
            PMA_HOST: 10.3.7.18
            PMA_PORT: 3306
            PMA_ABSOLUTE_URI: /pmasup/
    isup-phpmyadmin-sber-utm5:
        image: phpmyadmin/phpmyadmin
        ports:
            - "8091:80"
        environment:
            PMA_HOST: 10.3.7.42
            PMA_PORT: 3306
            PMA_PASSWORD: /pmasutm5/
    isup-node-watch:
        image: node:11.13-alpine
        volumes:
            - ./:/app
        working_dir: /app
        command: sh -c "until [ -f .ready ] ; do sleep 1 ; done && yarn encore dev --watch"
    isup-node:
        build:
            context: ./docker/development
            dockerfile: node.docker
        volumes:
            - ./:/app
        working_dir: /app
    manager-mysql:
        build:
            context: ./docker/development
            dockerfile: mysql.docker
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: test
            MYSQL_USER: test
            MYSQL_PASSWORD: 123
        volumes:
            - mysql:/var/lib/mysql
    mailer:
        image: mailhog/mailhog
        ports:
            - "8082:8025"
volumes:
    composer:
    mysql: