version: '3'
services:
    isup-nginx:
        build:
            context: ./docker/development
            dockerfile: nginx.docker
        volumes:
            - ./:/app
        depends_on:
            - isup-php-fpm
        ports:
            - "8088:80"
    isup-php-fpm:
        build:
            context: ./docker/development
            dockerfile: php-fpm.docker
        environment:
            APP_DEBUG: 1
        volumes:
            - ./:/app
        depends_on:
          - isup-redis
    isup-php-cli:
        build:
            context: ./docker/development
            dockerfile: php-cli.docker
        environment:
            APP_DEBUG: 1
        volumes:
            - ./:/app
            - composer:/root/.composer/cache
        depends_on:
            - isup-redis
    isup-redis:
        image: redis:5.0-alpine
volumes:
    composer: