parameters:
    bitrix:
        path: '%env(BITRIX_API_PATH)%'
        user_id: '%env(BITRIX_API_USER_ID)%'
        key: '%env(BITRIX_API_KEY)%'
        chat_id: '%env(BITRIX_API_CHAT_ID)%'
    bitrix_cal:
        path: '%env(BITRIX_CALENDAR_PATH)%'
    bot:
        bot_path: '%env(BOT_PATH)%'
    smsc:
        url: "%env(SMSC_URL)%"
        login: "%env(SMSC_LOGIN)%"
        password: "%env(SMSC_PASSWORD)%"
    ssh:
        servers:
            66: 'BUZ'
            67: 'DEDOVSK'
            68: 'DEDOVSK'
            35: 'DEDOVSK'
            34: 'DEDOVSK'
            58: 'DB'
            52: 'GLEB'
            53: 'SNEG'
            62: 'GLEB'
            49: 'GREEN'
            60: 'KOTEL'
            57: 'MAN'
            55: 'NUTR'
            59: 'IPK'
            61: 'AGRO'
            54: 'SHNYR'
            27: 'SOUTH'
            50: 'VEI'
            26: 'GIDRO'
            40: 'A@'
            39: 'A@'
            44: 'L$'
            45: 'L$'
            37: 'L%'
            48: 'SNEG'
            51: 'SLOB'
        prefix: '%env(SSH_PASSWORD_PREFIX)%'
        suffix: '%env(SSH_PASSWORD_SUFFIX)%'
        user: '%env(SSH_USER)%'
    urfa:
        login: "%env(URFA_LOGIN)%"
        password: "%env(URFA_PASSWORD)%"
        protocol: "%env(URFA_PROTOCOL)%"
        address: "%env(URFA_HOST)%"
        api: "%env(resolve:URFA_API)%"